.fa-2x{
    margin-top: 70px;
    margin-left: 150px;
}

.wa-icon-about{
    color: #00E676;
    /* margin-left:480px;
    margin-top: 35px;; */
}
.mail-icon-about{
    color: #D32E2A;
}
section{
    min-height:400px;
}
.titleSection{
    font-family: 'Roboto Slab', serif;
}
.desc{
    font-family: 'Noto Serif', serif;
}

