.container-bg{
    background-image: url('../img/kayu.jpg');
    background-size: cover;
}
.card{
   margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border: -20px;
}
.card-title{
    color: rgb(0, 0, 0);
}
.card-text{
    color: rgb(15, 15, 15);
}
    
  
   
    

    
    
   

