.container-con{
    margin-top: 80px;
    background-color: rgb(68, 66, 66);
    
}

.col-lg{
    height: 350px;
}

.img-con{
    height:315px; 
    width:840px; 
    margin-left:350px; 
    margin-top:20px;
    border-radius:20px;
    
}
.img-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 600px;
    height: 210px;
}
.pesan_promo{
    margin-top: 140px;
    margin-left: 50px;
}
.btn-ambil{
    margin-top: 140px;
    margin-left: 100px;
}
