.ig-thumbnail{
    width: 100px;
    height: 100;
    float: left;
    overflow: hidden;
    margin-left: 10px;
}
.ig-thumbnail img{
    width: 100px;
}
.container-ig{
    background-color: beige;
  
}
.ig-row{
 margin: auto;
}
.dp-IG{
    margin-top: 20px;
    margin-left: 10px;
}
.usrname{
    margin-left: 10px;
    margin-top: 8px;
}
.follow-button{
    margin-left: 140px;
}
.btn-block{
    margin-top: -45px;
    border-radius: 5px;
}
.recent-blog-area-youtube{
    background-color: rgb(236, 236, 236);
}

.container-ig{
    margin-top: 15px;
    margin-bottom: -60px;
}
.ig-icon{
    margin-left: 250px;
}
.wa-icon{
    margin-left:  450px;
}
.wa{
    margin-left: 910px;
    margin-top: -230px;
}
.youtube-icon{
    color: red;
}

