.container{
    margin-top: 95px;
    margin-right: 215px;
  

}
.card{
    margin-top: 20px;
   
}
.align-self-center{
    font-family: 'Varela Round', sans-serif;
    
}
.img-fluid{
    width: 900px;
    height: 400px;
    border-radius: 20px;
}
.sidebar{
    margin-top: -550px;
    margin-left: 1320px;
    
    
}
.border-dark{
background-color:rgb(230, 228, 223);
border-radius: 14px;
margin-top: 20px;
}
